<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:fragment="header">
    <link type="text/css" href="css/bootstrap-3.3.6.min.css" rel="stylesheet" />
    <link type="text/css" href="css/bootstrap-theme-3.3.6.min.css" rel="stylesheet" />
    <link type="text/css" href="css/styles.css" rel="stylesheet" />
</object>
</head>
<body>
<object th:fragment="scripts">
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
</object>
</body>
</html>